<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yo CorDapp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="yoAppModule" ng-controller="StatesController as yoApp">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Identities Tracker</a>
            <a class="navbar-brand" href="states.html">All States</a>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Committed Identities: PartyA's fact</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li ng-repeat="yo in yos1">
                                <div class="well" style="background-color: cyan !important;">
                                    <img src="{{yo.image}}"/>
                                    <hr>
                                    <span style="word-wrap: break-word;">{{yo.events}}</span>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Committed Identities: PartyB's fact</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li ng-repeat="yo in yos2">
                                <div class="well" style="background-color: cyan !important;">
                                    <img src="{{yo.image}}"/>
                                    <hr>
                                    <span style="word-wrap: break-word;">{{yo.events}}</span>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Committed Identities: WatchDog's fact</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li ng-repeat="yo in yos3">
                                <div class="well" style="background-color: cyan !important;">
                                    <img src="{{yo.image}}"/>
                                    <hr>
                                    <span style="word-wrap: break-word;">{{yo.events}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
</body>

</html>